[submodule ".registry"]
	path = .registry
	url = https://github.com/ashbaldry/ashbaldry.r-universe.dev
	branch = HEAD
[submodule "appler"]
	path = appler
	url = https://github.com/ashbaldry/appler
[submodule "depcheck"]
	path = depcheck
	url = https://github.com/ashbaldry/depcheck
[submodule "designer"]
	path = designer
	url = https://github.com/ashbaldry/designer
[submodule "fomantic.plus"]
	path = fomantic.plus
	url = https://github.com/ashbaldry/fomantic.plus
[submodule "howler"]
	path = howler
	url = https://github.com/ashbaldry/howler
[submodule "minifier"]
	path = minifier
	url = https://github.com/ashbaldry/minifier
[submodule "shiny.destroy"]
	path = shiny.destroy
	url = https://github.com/ashbaldry/shiny.destroy
[submodule "shinytitle"]
	path = shinytitle
	url = https://github.com/ashbaldry/shinytitle
[submodule "video"]
	path = video
	url = https://github.com/ashbaldry/video
[submodule "vstsr"]
	path = vstsr
	url = https://github.com/ashbaldry/vstsr
